<%- include ('../partials/navbar.ejs') %>

<div class="checkout-2 p-5">
  <div class="container-fluid">
    <h4 class="h4 text-center">
      Checkout process
    </h4>
    <h5 class="h5 text-center pb-3 mb-3 border-bottom">
      Payment information
    </h5>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        
        <%- include ('../partials/messages.ejs') %>
        
        <form action="/checkout/2" method="POST">
          <input type="hidden" name="_csrf" value="<%- csrfToken %>">
          
          <div class="form-group mb-2">
            <label for="ccNumber">Credit Card Number:</label>
            <input 
              class="form-control" 
              type="text" 
              name="ccNumber" 
              id="ccNumber" 
              required 
              <% if(typeof(ccNumber) !== "undefined") { %>
                value="<%- ccNumber %>"
              <% } %>
              <% if(user.ccNumber !== null) { %>
                value="<%- user.ccNumber %>"
              <% } %>
            >
          </div>

          <div class="form-group mb-2">
            <label for="cvvNumber">CVV Number:</label>
            <input 
              class="form-control" 
              type="text" 
              name="cvvNumber" 
              id="cvvNumber" 
              required 
              <% if(typeof(cvvNumber) !== "undefined") { %>
                value="<%- cvvNumber %>"
              <% } %>
              <% if(user.cvvNumber !== null) { %>
                value="<%- user.cvvNumber %>"
              <% } %>
            >
          </div>

          <a href="/checkout/1" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn btn-primary">
            Next
          </button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>